.box {
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: 23%;
}

.image {
    height: 100%;
    width: 100%;
}

.title {
    font-weight: 'bold';
    font-size: '1.5rem';
    margin-top: 4rem;
    color: #383743;
}

.subtitle {
    font-size: 1.125rem;
    margin-top: 1.128rem;
    color: #383743;
}

.custom-input {
    background-color: inherit;
    border-color: #383743;
    border-radius: unset;
    box-shadow: none;
    outline: 0;
    border-width: 0 0 1px;
}

.custom-input:focus {
    background-color: inherit;
    border-color: #383743;
    box-shadow: none;
    outline: 0;
    border-width: 0 0 1px;
}

.icon {
    width: 27px;
    height: 27px;
    margin-top: 5px;
}

.custom-input-error {
    background-color: inherit;
    border-color: #ff0f44;
    border-radius: unset;
    box-shadow: none;
    outline: 0;
    border-width: 0 0 1px;
}

.icon-error {
    width: 20px;
    height: 20px;
    margin-top: 12px;
}

.btn {
    background-color: #57bbbc;
    color: #ffffff;
    height: 3.3rem;
    margin-top: 2.8rem;
    width: 100%;
    font-weight: bold;
}