.navbar {
    height: 6rem;
    background-color: #ee4c77;
}

.logo {
    height: 65%;
}

.search {
    height: 65%;
    margin-right: 30px;
}

.content-inicial {
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}